.container{
    /* margin: 10px; */
    height: 10vh;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primar-color)
    
}
a{
    text-decoration: none;
    color: black;
}

.logo{
    color: black
}
a:hover{
    color: white;
}

.logo :hover{
    cursor: pointer;
    color: var(--secondary-color);
}