
@import 'ngx-toastr/toastr';

.container{
  
  color: var(--primar-color);
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.buttons{
    backdrop-filter: blur(25px);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
    justify-content: space-around;
    border: 1px solid grey;
    border-radius: 10px;
}

button {
    background-color: var(--primar-color); /* Green */
    border: none;
    color: var(--secondary-color);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
  }

  button:hover{
    background-color: rgb(173, 166, 195);
  }

  .cards{
    backdrop-filter: blur(25px);
    padding: 10px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    min-height: 40vh;
    min-width: 80vh;
    justify-content: space-around;
    border: 1px solid grey;
    border-radius: 10px;
  }

  input[type=text] {
    color: black;
    margin: 5px 0px;
    padding: 2px;
    font-size: 13px;
    height: 30px;
    border: grey 1px solid;
    border-radius: 5px;
    width: 50vh;
  }

  .active{
    border: 1px solid green;
    color: green;
  }

  .sucess{
    background-color: rgb(97, 211, 97);
    padding: 10px;
    min-width: 50vh;
    border : 1px solid green;
    color: white;     
    border-radius: 5px;
  }

  .failed{
    background-color: rgb(210, 28, 28);
    padding: 10px;
    min-width: 50vh;
    border: 1px solid red;
    color: white !important;
    border-radius: 5px;
  }