<div class="container">
  <!-- Home screen -->
    <div *ngIf="!flag" class="buttons"> 
      <h1>PLAY & WIN</h1>
        <span >Let's check your knowledge on Capital of Countries</span> <br>
        <button  (click)="getstarted()">Start Quiz</button>
    </div>
   
    <!-- Quiz card -->
  
  <div *ngIf="flag" class="cards">
    What is the Captial of {{ random.name }} ?
    
    <form #cityform="ngForm" (ngSubmit)="submit(cityform.value)">
      <input type="text" ngModel name="city" placeholder="Enter City" /> <br />
      <button>Submit</button>
    </form>
    <div *ngIf="messageFlag" class="message" [ngClass]="correct">
      <span *ngIf="successFlag"> Correct Answer </span>
      <span *ngIf="!successFlag">
        Incorrect Answer,<br> Capital of {{ random.name }} is {{ random.capital }}
      </span>
    </div>
    
      
    <div class="row" style="position:relative;">
      <button style="margin-right: 43vh;" (click)="backHome(); cityform.reset()">Back Home</button>
 
        <button (click)="nextQuetion(); cityform.reset()">Next Quetion</button>
    </div>
  </div>
</div>
